/* Variables */
:root {
    --dark: #000;
    --primary-text-color: #333;
    --hyperlink-hover-color: #357b70;
    --hyperlink-visited-color: #05676e;
    --hyperlink-active-color: #691bc3;
    --button-background-color: #4681f4;
    --button-text-color: #2b2b2b;
    --secondary-button-background-color: #98b70c;
    --grid-item-background-color: #d3d3d3;
    --footer-background-color: #f0f0f0;
    --font-family-monospace: "Inconsolata", monospace;
    --font-family-sans-serif: "Lato", sans-serif;
    --font-size-default: 1.6rem;
    --font-weight-bold: 700;
    --border-radius: 3px;
    --grid-gap: 20px;
    --border-bottom: 2px solid #0000004d;
    --transition-duration: 1s;
    --animation-duration: 3s;
}

/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family-monospace), var(--font-family-sans-serif);
    font-size: var(--font-size-default);
    line-height: 1.6;
    color: var(--primary-text-color);
    margin-top: 100px;
}

h1 {
    font-size: 2.6rem;
    font-weight: var(--font-weight-bold);
}

h2 {
    font-size: 2.2rem;
    font-weight: var(--font-weight-bold);
}

h3 {
    font-size: 1.8rem;
    font-weight: var(--font-weight-bold);
}

a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease;
}

button {
    border: none;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    text-decoration: none;
    padding: 10px;
    border-radius: var(--border-radius);
    border-bottom: var(--border-bottom);
}

div {
    padding: 2px;
    margin: 5px;
}

/* Header Styles */

.toggle {
    position: fixed;
    top: 40px;
    left: 40px;
    z-index: 2;
}

.toggle a {
    text-decoration: none;
    color: #262626;
    font-size: 24px;
    cursor: pointer;
}

.toggle a i {
    font-size: 30px;
}

.menu {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1;
    transition: 0.5s;
}

ul {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

ul li {
    list-style: none;
}

.menu-item {
    padding: 10px;
    display: inline-block;
    font-family: var(--font-family-monospace);
    font-size: 2em;
    text-decoration: none;
    text-transform: uppercase;
    color: #262626;
}

.menu-item:hover {
    color: wheat;
    background: #000;
}

.menu.active {
    left: 0;
    overflow: auto;
}

/* Home Styles */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    border: 5px solid var(--dark);
    height: 450px;
    border-radius: 50px;
    max-width: 700px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    align-items: center;
    transition: box-shadow 0.3s ease;
    animation: shadow-animation 1s infinite alternate;
}

.profile-portrait {
    float: left;
    width: 250px;
    margin-right: var(--grid-gap);
    border-radius: 50%;
}

/* Contact Styles */

.contact-container {
    text-align: center;
}

.find-me {
    display: inline-block;
    margin: 10px;
    width: auto; /* Set width to auto */
    color: #262626;
}

.find-me:hover {
    color: wheat;
    background: #000;
}

/* About Styles */
.button,
button {
    display: inline-block;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 4px;
    margin-top: 10px;
    border: 3px solid var(--dark);
    font-weight: var(--font-weight-bold);
    transition: color var(--transition-duration), background-color 0.6s;
    color: var(--dark);
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    cursor: pointer;
    opacity: 0.7;
    transition: color var(--transition-duration), background-color 0.6s;
    color: var(--footer-background-color);
    background-color: var(--dark);
}

.about-me {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

.about-p:nth-child(2) {
    margin-bottom: var(--grid-gap);
}

.dev {
    list-style: none;
}

.jeepney-container {
    margin-top: 200px;
}

.jeepney {
    animation: headlights var(--animation-duration) infinite alternate linear;
}

.vehicle {
    animation: forward 42s linear infinite;
}

/* Work Styles */
.work-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--grid-gap);
    margin-bottom: 100px;
}

.grid-item {
    background-color: var(--grid-item-background-color);
    padding: 20px;
    width: auto;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.grid-item:hover {
    background-color: #b2b2b2;
}

.grid-item.selected {
    grid-column: 2;
    grid-row: 2;
}

.grid-item.hidden {
    display: none;
}

.grid-item p {
    display: none;
}

.left-items,
.right-items {
    padding: 20px 20px 2px;
}

/* stylelint-disable-next-line no-descending-specificity */
.grid-item li {
    display: none;
}

.grid-item .visible {
    display: block;
}

.grid-image-container {
    display: none;
}

.grid-image {
    display: inline-block;
    width: 100%;
}

.chat {
    grid-column: 1/4;
}

.todo {
    grid-row: 1/4;
    grid-column: 3;
}

.grid-left,
.grid-right {
    display: none;
}

.grid-left.visible,
.grid-right.visible {
    display: block;
    background-color: var(--grid-item-background-color);
    height: 400px;
    width: 250px;
    transition: background-color 0.3s ease;
}

.grid-left.visible {
    position: absolute;
    left: 10%;
    bottom: 28%;
}

.grid-right.visible {
    position: absolute;
    right: 10%;
    bottom: 28%;
}

.grid-item:hover,
.grid-left.visible:hover,
.grid-right.visible:hover {
    background-color: #b2b2b2;
}

/* Footer Styles */
.page-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    box-sizing: border-box;
}

.page-body {
    text-align: center;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-media img {
    height: 30px;
    filter: invert(100%);
}

/* Media Queries */

/* Work */

@media all and (width <= 500px) {
    .work-grid {
        grid-template-columns: 1fr;
        grid-gap: var(--grid-gap);
    }
}

@media all and (width >= 500px) and (width <= 750px) {
    .work-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: var(--grid-gap);
    }
}

@media all and (width <= 750px) {
    .grid-item:nth-child(5),
    .grid-item:nth-child(6) {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }

    h2 {
        font-size: 1.8rem;
    }
}

/* stylelint-disable-next-line media-feature-range-notation */
@media all and (max-width: 500px) {
    .grid-item,
    .grid-left.visible,
    .grid-right.visible {
        grid-column: 1 / -1; /* Span the entire row */
        grid-row: auto; /* Reset the row to its default value */
        position: static; /* Reset the position */
        width: auto; /* Reset the width */
        height: auto; /* Reset the height */
    }
}

/* Animations */

/* stylelint-disable rule-empty-line-before */

@keyframes shadow-animation {
    0% {
        box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    }
    100% {
        box-shadow: 0 0 20px rgb(0 0 0 / 80%);
    }
}

@keyframes headlights {
    0% {
        fill: #fff;
    }
    50% {
        fill: #edc655;
    }
    100% {
        fill: #ecb718;
    }
}

@keyframes forward {
    from {
        transform: translate(0, 50px);
    }
    to {
        transform: translate(200px, 50px);
    }
}

/* stylelint-enable rule-empty-line-before */
