:root {
    --dark: #000;
    --primary-text-color: #333;
    --hyperlink-hover-color: #357b70;
    --hyperlink-visited-color: #05676e;
    --hyperlink-active-color: #691bc3;
    --button-background-color: #4681f4;
    --button-text-color: #2b2b2b;
    --secondary-button-background-color: #98b70c;
    --grid-item-background-color: #d3d3d3;
    --footer-background-color: #f0f0f0;
    --font-family-monospace: "Inconsolata", monospace;
    --font-family-sans-serif: "Lato", sans-serif;
    --font-size-default: 1.6rem;
    --font-weight-bold: 700;
    --border-radius: 3px;
    --grid-gap: 20px;
    --border-bottom: 2px solid #0000004d;
    --transition-duration: 1s;
    --animation-duration: 3s;
}

/* Resetting the default style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family-monospace), var(--font-family-sans-serif);
    font-size: var(--font-size-default);
    line-height: 1.6;
    color: var(--primary-text-color);
}

h1 {
    font-size: 2.6rem;
    font-weight: var(--font-weight-bold);
}

h2 {
    font-size: 2.2rem;
    font-weight: var(--font-weight-bold);
}

h3 {
    font-size: 1.8rem;
    font-weight: var(--font-weight-bold);
}

a {
    color: var(--hyperlink-hover-color);
}

button {
    border: none;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    text-decoration: none;
    padding: 10px;
    border-radius: var(--border-radius);
    border-bottom: var(--border-bottom);
}

div {
    padding: 2px;
    margin: 5px;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: var(--dark);
    text-decoration: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* HOME */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    border: 5px solid var(--dark);
    height: 450px;
    border-radius: 50px;
    max-width: 700px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    align-items: center;
    transition: box-shadow 0.3s ease;
    animation: shadowAnimation 1s infinite alternate; /* Apply animation on hover */
}

.profile-portrait {
    float: left;
    width: 250px;
    margin-right: var(--grid-gap);
    border-radius: 50%;
}

/* CONTACT */

.contact-container {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    font-weight: bold;
}

input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: var(--footer-background-color);
    background-color: gray;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-button:hover {
    background-color: var(--dark);
}

.contact-info {
    margin-top: 20px;
}

.contact-info p {
    font-weight: bold;
    margin-bottom: 10px;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

.contact-info a:hover {
    color: #0056b3;
}

/* ABOUT */

.button,
button {
    /* overwrites browser defaults */

    display: inline-block;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 4px;
    margin-top: 10px;
    border: 3px solid var(--dark);
    font-weight: var(--font-weight-bold);
    transition: color var(--transition-duration), background-color 0.6s;
    color: var(--dark);
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    cursor: pointer;
    opacity: 0.7;
    transition: color var(--transition-duration), background-color 0.6s;
    color: var(--footer-background-color);
    background-color: var(--dark);
}

.about-me {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

.about-p:nth-child(2) {
    margin-bottom: var(--grid-gap);
}

.dev {
    list-style: none;
}

/* WORK */

.work-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--grid-gap);
    margin-bottom: 100px;
}

.grid-item {
    background-color: var(--grid-item-background-color);
    padding: 20px;
    width: auto;
    cursor: pointer;
}

.grid-item.selected {
    grid-column: 2;
    grid-row: 2;
}

.grid-item.hidden {
    display: none; /* Hide non-selected items */
}

.grid-item p {
    display: none;
}

.grid-item .visible {
    display: block;
}

.grid-item:nth-child(5) {
    grid-column: 1/4;
}

.grid-item:nth-child(6) {
    grid-row: 1/4;
    grid-column: 3;
}

/* FOOTER */

.page-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    box-sizing: border-box;
}

.page-body {
    text-align: center;
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-media img {
    height: 30px;
    filter: invert(100%);
}

/* ******Queries****** */

@media all and (width <= 500px) {
    .work-grid {
        grid-template-columns: 1fr;
        grid-gap: var(--grid-gap);
    }
}

@media all and (width >= 500px) and (width <= 750px) {
    .work-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: var(--grid-gap);
    }
}

/* shared properties */
@media all and (width <= 750px) {
    .grid-item:nth-child(5),
    .grid-item:nth-child(6) {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }

    h2 {
        font-size: 1.8rem;
    }
}

/* ANIMATION */
@keyframes headlights {
    0% {
        fill: #fff;
    }

    50% {
        fill: #edc655;
    }

    100% {
        fill: #ecb718;
    }
}

@keyframes forward {
    from {
        transform: translate(0, 50px);
    }

    to {
        transform: translate(200px, 50px);
    }
}

/* HOME PROFILE */

.jeepney {
    animation: headlights var(--animation-duration) infinite alternate linear;
}

.vehicle {
    animation: forward 42s linear infinite;
}
