h1,
h2,
h3 {
    font-weight: var(--font-weight-bold);
}
*,
.menu,
ul {
    margin: 0;
    padding: 0;
}
.button,
.menu-item,
.toggle a,
a,
button {
    text-decoration: none;
}
.about-me,
.contact-container,
.page-body,
ul {
    text-align: center;
}
.menu,
.page-footer,
.toggle {
    position: fixed;
}
*,
.page-footer {
    box-sizing: border-box;
}
:root {
    --dark: #000;
    --primary-text-color: #333;
    --hyperlink-hover-color: #357b70;
    --hyperlink-visited-color: #05676e;
    --hyperlink-active-color: #691bc3;
    --button-background-color: #4681f4;
    --button-text-color: #2b2b2b;
    --secondary-button-background-color: #98b70c;
    --grid-item-background-color: #d3d3d3;
    --footer-background-color: #f0f0f0;
    --font-family-monospace: "Inconsolata", monospace;
    --font-family-sans-serif: "Lato", sans-serif;
    --font-size-default: 1.6rem;
    --font-weight-bold: 700;
    --border-radius: 3px;
    --grid-gap: 20px;
    --border-bottom: 2px solid #0000004d;
    --transition-duration: 1s;
    --animation-duration: 3s;
}
body {
    font-family: var(--font-family-monospace), var(--font-family-sans-serif);
    font-size: var(--font-size-default);
    line-height: 1.6;
    color: var(--primary-text-color);
    margin-top: 100px;
}
h1 {
    font-size: 2.6rem;
}
h2 {
    font-size: 2.2rem;
}
h3 {
    font-size: 1.8rem;
}
a {
    color: #007bff;
    transition: color 0.3s;
}
button {
    border: none;
    font-family: inherit;
    font-weight: 600;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    border-radius: var(--border-radius);
    border-bottom: var(--border-bottom);
}
div {
    padding: 2px;
    margin: 5px;
}
.toggle {
    top: 40px;
    left: 40px;
    z-index: 2;
}
.toggle a {
    color: #262626;
    font-size: 24px;
    cursor: pointer;
}
.toggle a i {
    font-size: 30px;
}
.menu {
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1;
    transition: 0.5s;
}
ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.dev,
ul li {
    list-style: none;
}
.menu-item {
    padding: 10px;
    display: inline-block;
    font-family: var(--font-family-monospace);
    font-size: 2em;
    text-transform: uppercase;
    color: #262626;
}
.find-me:hover,
.menu-item:hover {
    color: wheat;
    background: #000;
}
.menu.active {
    left: 0;
    overflow: auto;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile {
    border: 5px solid var(--dark);
    height: 450px;
    border-radius: 50px;
    max-width: 700px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    align-items: center;
    transition: box-shadow 0.3s;
    animation: 1s infinite alternate shadow-animation;
}
.profile-portrait {
    float: left;
    width: 250px;
    margin-right: var(--grid-gap);
    border-radius: 50%;
}
.find-me {
    display: inline-block;
    margin: 10px;
    width: auto;
    color: #262626;
}
.button,
button {
    display: inline-block;
    font-size: 1.2rem;
    padding: 4px;
    margin-top: 10px;
    border: 3px solid var(--dark);
    font-weight: var(--font-weight-bold);
    transition: color var(--transition-duration), background-color 0.6s;
    color: var(--dark);
}
.button:focus,
.button:hover,
button:focus,
button:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: color var(--transition-duration), background-color 0.6s;
    color: var(--footer-background-color);
    background-color: var(--dark);
}
.grid-item,
.grid-left.visible,
.grid-right.visible {
    background-color: var(--grid-item-background-color);
    transition: background-color 0.3s;
}
.about-me {
    max-width: 900px;
    margin: 0 auto;
}
.about-p:nth-child(2) {
    margin-bottom: var(--grid-gap);
}
.jeepney-container {
    margin-top: 200px;
}
.jeepney {
    animation: headlights var(--animation-duration) infinite alternate linear;
}
.vehicle {
    animation: 42s linear infinite forward;
}
.work-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: var(--grid-gap);
    margin-bottom: 100px;
}
.grid-item {
    padding: 20px;
    width: auto;
    cursor: pointer;
}
.grid-item.selected {
    grid-column: 2;
    grid-row: 2;
}
.grid-image-container,
.grid-item li,
.grid-item p,
.grid-item.hidden,
.grid-left,
.grid-right {
    display: none;
}
.left-items,
.right-items {
    padding: 20px 20px 2px;
}
.grid-item .visible {
    display: block;
}
.grid-image {
    display: inline-block;
    width: 100%;
}
.chat {
    grid-column: 1/4;
}
.todo {
    grid-row: 1/4;
    grid-column: 3;
}
.grid-left.visible,
.grid-right.visible {
    display: block;
    height: 400px;
    width: 250px;
}
.grid-left.visible {
    position: absolute;
    left: 10%;
    bottom: 28%;
}
.grid-right.visible {
    position: absolute;
    right: 10%;
    bottom: 28%;
}
.grid-item:hover,
.grid-left.visible:hover,
.grid-right.visible:hover {
    background-color: #b2b2b2;
}
.page-footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
}
.social-media {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.social-media img {
    height: 30px;
    filter: invert(100%);
}
@media all and (width <= 500px) {
    .work-grid {
        grid-template-columns: 1fr;
        grid-gap: var(--grid-gap);
    }
}
@media all and (width >= 500px) and (width <= 750px) {
    .work-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: var(--grid-gap);
    }
}
@media all and (width <= 750px) {
    .grid-item:nth-child(5),
    .grid-item:nth-child(6) {
        grid-column: auto/auto;
        grid-row: auto/auto;
    }
    h2 {
        font-size: 1.8rem;
    }
}
@media all and (max-width: 500px) {
    .grid-item,
    .grid-left.visible,
    .grid-right.visible {
        grid-column: 1/-1;
        grid-row: auto;
        position: static;
        width: auto;
        height: auto;
    }
}
@keyframes shadow-animation {
    0% {
        box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    }
    100% {
        box-shadow: 0 0 20px rgb(0 0 0 / 80%);
    }
}
@keyframes headlights {
    0% {
        fill: #fff;
    }
    50% {
        fill: #edc655;
    }
    100% {
        fill: #ecb718;
    }
}
@keyframes forward {
    from {
        transform: translate(0, 50px);
    }
    to {
        transform: translate(200px, 50px);
    }
}
